/*Webfont declaration*/
/*Using Roboto light*/
@font-face {
    font-family: 'robotolight';
    src: url('../fonts/Roboto-Light-webfont.eot');
    src: url('../fonts/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Light-webfont.woff') format('woff'),
         url('../fonts/Roboto-Light-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*Roboto thin webfont*/
@font-face {
    font-family: 'robotothin';
    src: url('../fonts/Roboto-Thin-webfont.eot');
    src: url('../fonts/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Thin-webfont.woff') format('woff'),
         url('../fonts/Roboto-Thin-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Thin-webfont.svg#robotothin') format('svg');
    font-weight: normal;
    font-style: normal;
}
.fontfor{
    font-family: robotolight;
}
.thin{
    font-family: robotothin;
}
/*The landing and the overlay.*/
.landing{
    height: 800px;
    background: url('../assets/bg2_redone.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    display: block;
    max-width: 100%;
}
.overlay{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 800px;
    background: rgba(0, 0, 0, 0.5);
}
.icon{
    padding-top: 45px;
    padding-left: 50px;
}


.line-seperator{
    height: 1px;
    background: #ffffff;
    /*border-bottom: 1px solid #ffffff;*/
}

.overlay h5{
    font-size: 18px;
    text-align: center;
}
#learn{
    width: 300px;
    border-radius: 20px;
}
#services{
    height: 600px;
}